<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669990341173-rql0l6auq4hvufbtfb9k25sb7sp5e5u9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669990341173-rql0l6auq4hvufbtfb9k25sb7sp5e5u9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>669990341173-2r7ggpss2jnoi7mgmipfg92e0ulbkshs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAoNvQZlkm78zdkpG1u_riYMxJjUN5BhdI</string>
	<key>GCM_SENDER_ID</key>
	<string>669990341173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dmlink.app</string>
	<key>PROJECT_ID</key>
	<string>dm-link</string>
	<key>STORAGE_BUCKET</key>
	<string>dm-link.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669990341173:ios:c32f4fb22a20d94412bf7c</string>
</dict>
</plist>